<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<title><ui:insert name="pageTitle">Template title</ui:insert></title>
	<ui:include src="/WEB-INF/template/imports.xhtml" />
</h:head>
<body class="hold-transition login-page">
	<!-- Automatic element centering -->
	<div class="login-box">

		<!-- Content Header (Page header) -->
		<div class="login-logo">
			<a href="../../index2.html">erp-<b>School</b></a>
		</div>
		<!-- /.login-logo -->
		<div class="error-page">
			<ui:insert name="errorContent"></ui:insert>
		</div>
		<!-- /.error-page -->
	</div>
	<!-- /.center -->
</body>
</html>
