<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
	<link rel="stylesheet" href="#{request.contextPath}/resources//bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
	<link rel="stylesheet" href="#{request.contextPath}/resources/dist/css/AdminLTE.min.css" />
	<link rel="stylesheet" href="#{request.contextPath}/resources/dist/css/skins/_all-skins.min.css" />
	<link rel="stylesheet" href="#{request.contextPath}/resources/plugins/iCheck/flat/blue.css" />
	<link rel="stylesheet" href="#{request.contextPath}/resources/plugins/morris/morris.css" />
	<link rel="stylesheet" href="#{request.contextPath}/resources/plugins/jvectormap/jquery-jvectormap-1.2.2.css" />
	<link rel="stylesheet" href="#{request.contextPath}/resources/plugins/datepicker/datepicker3.css" />
	<link rel="stylesheet" href="#{request.contextPath}/resources/plugins/daterangepicker/daterangepicker-bs3.css" />
	<link rel="stylesheet" href="#{request.contextPath}/resources/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" />
	<link rel="stylesheet" href="#{request.contextPath}/resources/plugins/iCheck/square/blue.css" />
	<script src="#{request.contextPath}/resources/plugins/jQuery/jQuery-2.1.4.min.js" />
	<script src="#{request.contextPath}/resources/bootstrap/js/bootstrap.min.js" />
	<script src="#{request.contextPath}/resources/plugins/iCheck/icheck.min.js" />
	<script src="#{request.contextPath}/resources/js/icheckbox.js" />

</ui:composition>
