<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

	<footer class="main-footer">
		<div class="pull-right hidden-xs"></div>
		<strong>Copyright 2015-2016 | PIDev forbidden</strong> Some rights reserved to me (Amine BESSROUR).
	</footer>

</ui:composition>
