<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

	<aside class="main-sidebar">
				<section class="sidebar">
					<div class="user-panel">
						<div class="pull-left image">
							<img src="#{request.contextPath}/resources/dist/img/user1-128x128.jpg" class="img-circle" alt="User Image" />
						</div>
						<div class="pull-left info">
							<p>#{authenticationBean.person.firstName} #{authenticationBean.person.lastName}</p>
							<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
						</div>
					</div>
					<ul class="sidebar-menu">
						<li><a href="documentation/index.html"><i class="fa fa-book"></i> <span>Classe</span></a></li>
						<li><a href="documentation/index.html"><i class="fa fa-book"></i> <span>Module</span></a></li>
						<li><a href="documentation/index.html"><i class="fa fa-book"></i> <span>Salle</span></a></li>
					</ul>
				</section>
			</aside>

</ui:composition>
