<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html" 	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title><ui:insert name="pageTitle">Template title</ui:insert></title>
	<ui:include src="/WEB-INF/template/imports.xhtml" />
	<ui:include src="/WEB-INF/template/scriptImports.xhtml" />
</h:head>
<body class="hold-transition skin-blue sidebar-mini">
<p:growl autoUpdate="true" showDetail="true" showSummary="true" />
	<div class="wrapper">
		<ui:include src="/WEB-INF/template/mainPagesHeader.xhtml" />
		<ui:include src="/WEB-INF/template/mainPagesSideMenu.xhtml" />
		<div class="content-wrapper">
			<section class="content-header">
				<h1>
					Workspace <small><ui:insert name="mainPagesContentTitle"></ui:insert></small>
				</h1>
			</section>
			<section class="content">

				<ui:insert name="mainPagesContent">

				</ui:insert>
			</section>
		</div>
		<ui:include src="/WEB-INF/template/mainPagesFooter.xhtml" />
	</div>
</body>
</html>
