<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

	<header class="main-header">
		<h:link outcome="/public/login.jsf" styleClass="logo">
		<span class="logo-mini">erp-<b>S</b></span> <span class="logo-lg">erp-<b>School</b></span></h:link>
		<nav class="navbar navbar-static-top" role="navigation">
			<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"> <span class="sr-only">Toggle navigation</span>
			</a>
			<div class="navbar-custom-menu">
				<ul class="nav navbar-nav">
					<li class="dropdown user user-menu"><a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img
							src="#{request.contextPath}/resources/dist/img/user1-128x128.jpg" class="user-image" alt="User Image" /> <span class="hidden-xs">#{authenticationBean.person.firstName}
								#{authenticationBean.person.lastName}</span>
					</a>
						<ul class="dropdown-menu">
							<!-- User image -->
							<li class="user-header"><img src="#{request.contextPath}/resources/dist/img/user1-128x128.jpg" class="img-circle" alt="User Image" />
								<p>#{authenticationBean.person.firstName} #{authenticationBean.person.lastName}</p></li>
							<li class="user-footer">
								<div class="pull-left">
									<a href="#" class="btn btn-default btn-flat">Profile</a>
								</div>
								<div class="pull-right">
									<h:form>
										<h:commandLink action="#{authenticationBean.doLogout()}" value="Sign out" styleClass="btn btn-default btn-flat" />
									</h:form>
								</div>
							</li>
						</ul></li>

				</ul>
			</div>
		</nav>
	</header>

</ui:composition>
