<!DOCTYPE html >
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title><ui:insert name="pageTitle">Template title</ui:insert></title>
	<ui:include src="/WEB-INF/template/imports.xhtml" />
</h:head>
<body class="hold-transition login-page">
	<div class="login-box">
		<div class="login-logo">
			<a href="#{request.contextPath}/public/login.jsf">erp-<b>School</b></a>
		</div>
		<!-- /.login-logo -->
		<div class="login-box-body">
			<p class="login-box-msg">
				<ui:insert name="boxTitle">Fill the form to create a new membership</ui:insert>
			</p>
			<h:form id="form">
				<p:growl autoUpdate="true" showDetail="true"/>
				<ui:insert name="boxFormContext"></ui:insert>
			</h:form>
		</div>
		<ui:insert name="boxActions"></ui:insert>
	</div>
	<!-- /.login-box -->
</body>
</html>
