<!DOCTYPE html> 
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"/>
    <script src="#{request.contextPath}/resources/plugins/morris/morris.min.js"/>
    <script src="#{request.contextPath}/resources/plugins/sparkline/jquery.sparkline.min.js"/>
    <script src="#{request.contextPath}/resources/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"/>
    <script src="#{request.contextPath}/resources/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"/>
    <script src="#{request.contextPath}/resources/plugins/knob/jquery.knob.js"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"/>
    <script src="#{request.contextPath}/resources/plugins/daterangepicker/daterangepicker.js"/>
    <script src="#{request.contextPath}/resources/plugins/datepicker/bootstrap-datepicker.js"/>
    <script src="#{request.contextPath}/resources/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"/>
    <script src="#{request.contextPath}/resources/plugins/slimScroll/jquery.slimscroll.min.js"/>
    <script src="#{request.contextPath}/resources/plugins/fastclick/fastclick.min.js"/>
    <script src="#{request.contextPath}/resources/dist/js/app.min.js"/>
    <script src="#{request.contextPath}/resources/dist/js/pages/dashboard.js"/>
    <script src="#{request.contextPath}/resources/dist/js/demo.js"/>
</ui:composition>
