
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:jsf="http://xmlns.jcp.org/jsf" xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/mainPagesTemplate.xhtml">

	<ui:define name="pageTitle">erp-School | Workspace</ui:define>
	<ui:define name="mainPagesContentTitle"> - Manage Classes</ui:define>
	<ui:define name="mainPagesContent">
		<div class="row">
			<div class=" #{classeBean.showForm ? 'col-sm-8' : 'col-sm-12'}">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">List of classes</h3>

						<h:form id="addClasseTriggerFrom">
							<h:commandButton action="#{classeBean.doShowForm()}" value="Add"
								styleClass="btn btn-success btn-flat" />
						</h:form>
					</div>
					<div class="box-body no-padding">
						<h:form id="classesForm">
							<h:dataTable styleClass="table table-bordered"
								value="#{classeBean.classes}" var="c" id="classeTable">
								<h:column>
									<f:facet name="header">Label</f:facet>
								#{c.label}
							</h:column>
								<h:column>
									<f:facet name="header">Scholar year</f:facet>
								#{c.scholarYear}
							</h:column>
								<h:column>
									<f:facet name="header">Delete</f:facet>
									<h:commandButton styleClass="btn btn-danger btn-block btn-flat"
										action="#{classeBean.doDeleteClasse(c)}" value="Delete" />
								</h:column>
								<h:column>
									<f:facet name="header">Update</f:facet>
									<h:commandButton
										styleClass="btn btn-primary btn-block btn-flat" action=" "
										value="Update">
										<f:setPropertyActionListener value="#{c}"
											target="#{classeBean.classe}" />
										<f:setPropertyActionListener value="true"
											target="#{classeBean.showForm}" />
									</h:commandButton>
								</h:column>
							</h:dataTable>
						</h:form>
					</div>
				</div>
			</div>
			<h:form rendered="#{classeBean.showForm}" id="addClasseFrom">
				<div class="col-sm-4">
					<div class="box">
						<div class="box-header">
							<h3 class="box-title">#{classeBean.classe.id !=0 ? 'Update
								class' : 'Add class'}</h3>
							<h:inputHidden value="#{classeBean.classe.id}" />
							<div class="form-group has-feedback">
								<h:inputText id="classLabel" value="#{classeBean.classe.label}"
									styleClass="form-control" pt:placeholder="Label" />
								<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
							</div>
							<div class="form-group has-feedback">
								<h:inputText id="classScholarYear"
									value="#{classeBean.classe.scholarYear}"
									styleClass="form-control" pt:placeholder="Scholar Year" />
								<span class="glyphicon glyphicon-lock form-control-feedback"></span>
							</div>
							<div class="form-group has-feedback">
								<h:selectOneMenu value="#{classeBean.selectedStudent}" converter="#{studentConverter}" styleClass="form-control">
									<f:selectItems value="#{classeBean.students}" var="student" 
										itemLabel="#{student.firstName}-#{student.lastName}" itemValue="#{student}" />
								</h:selectOneMenu>
								<span class="glyphicon glyphicon-user form-control-feedback"></span>
							</div>
							<h:commandButton action="#{classeBean.doAddOrUpdateClasse()}"
								value="#{classeBean.classe.id !=0 ? 'Update' : 'Add'}"
								styleClass="#{classeBean.classe.id !=0 ? 'btn btn-primary btn-block btn-flat' : 'btn btn-success btn-block btn-flat'}" />

						</div>
						<div class="box-body no-padding"></div>
					</div>
				</div>
			</h:form>
		</div>

	</ui:define>

</ui:composition>

