<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html" template="/WEB-INF/template/errorPagesTemplate.xhtml">

	<ui:define name="pageTitle">erp-School | 403</ui:define>
	<ui:define name="errorContent">
		<h2 class="headline text-red" style="margin-right: 20px;"> 403</h2>
            <div class="error-content">
              <br/>
			  <h3><i class="fa fa-warning text-red"></i> Oops! Access forbidden.</h3>
              <p>
                You are not allowed to access to the requested page. Please contact the administrator to get granted to this page. Meanwhile, you may <h:link outcome="/public/login.jsf" value="return to the home page" />.
              </p>
              
            </div>
	</ui:define>
</ui:composition>