<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html" template="/WEB-INF/template/errorPagesTemplate.xhtml">

	<ui:define name="pageTitle">erp-School | 404</ui:define>
	<ui:define name="errorContent">
		<h2 class="headline text-red" style="margin-right: 20px;">404</h2>
		<div class="error-content">
			<br/>
			<h3>
				<i class="fa fa-warning text-red"></i> Oops! Page not found.
			</h3>
			<p>
				We could not find the page you were looking for. Either the page does not exist or you spell it wrong. Please check the requested URL or <h:link outcome="/public/login.jsf" value="return to the home page" />.
			</p>

		</div>
	</ui:define>
</ui:composition>


