<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html" template="/WEB-INF/template/errorPagesTemplate.xhtml">

	<ui:define name="pageTitle">erp-School | 500</ui:define>
	<ui:define name="errorContent">
		<h2 class="headline text-red" style="margin-right: 20px;">500</h2>
		<div class="error-content">
			<br />
			<h3>
				<i class="fa fa-warning text-red"></i> Oops! Something went wrong.
			</h3>
			<p>
				We are experiencing issues rendring the requested page. We will work on fixing that right away. Meanwhile, you may
				<h:link outcome="/public/login.jsf" value="return to the home page" />
				.
			</p>

		</div>
	</ui:define>
</ui:composition>

