<!DOCTYPE html>
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/WEB-INF/template/publicPagesTemplate.xhtml"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:jsf="http://xmlns.jcp.org/jsf">

	<ui:define name="pageTitle">erp-School | Log In</ui:define>
	<ui:define name="boxTitle">Sign in to start your session</ui:define>
	<ui:define name="boxFormContext">
		<div class="form-group has-feedback">
			<h:message for="emailInput" />
			<h:inputText
				id="emailInput"
				required="true"
				requiredMessage="Please fill in a valid email"
				value="#{authenticationBean.person.email}"
				styleClass="form-control"
				placeholder="Email" />
			<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
		</div>
		<div class="form-group has-feedback">
			<h:inputSecret
				redisplay="true"
				id="passwordInput"
				value="#{authenticationBean.person.password}"
				styleClass="form-control"
				placeholder="Password" />
			<span class="glyphicon glyphicon-lock form-control-feedback"></span>
		</div>
		<div class="row">
			<div class="col-xs-8">
				<div class="checkbox icheck">
					<label> <input type="checkbox" /> Remember Me
					</label>
				</div>
			</div>
			<!-- /.col -->
			<div class="col-xs-4">
				<h:commandButton
					action="#{authenticationBean.doAuthenticate()}"
					value="Sign In"
					styleClass="btn btn-primary btn-block btn-flat" />
			</div>
			<!-- /.col -->
		</div>
	</ui:define>
	<ui:define name="boxActions">
		<div>
			<h:link
				outcome="/public/register.jsf"
				styleClass="btn btn-block btn-primary btn-flat"
				value="I want to register" />
		</div>
		<!-- /.col -->
		<div>
			<button
				type="submit"
				class="btn btn-block btn-danger btn-flat">I forgot my password</button>
		</div>
	</ui:define>
</ui:composition>
