<!DOCTYPE html>
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/WEB-INF/template/publicPagesTemplate.xhtml"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="pageTitle">erp-School | register</ui:define>
	<ui:define name="boxTitle">Fill the form to create a new membership</ui:define>
	<ui:define name="boxFormContext">
		<div class="form-group has-feedback">
			<p:inputText
				pt:placeholder="First Name"
				id="firstNameInput"
				required="true"
				requiredMessage="First name is mandatory"
				value="#{registerBean.person.firstName}"
				styleClass="form-control"
				placeholder="First Name">
			</p:inputText>
			<span class="glyphicon glyphicon-user red form-control-feedback"></span>
		</div>
		<div class="form-group has-feedback">
			<p:inputText
				pt:placeholder="Last Name"
				id="lastNameInput"
				required="true"
				requiredMessage="Last name is mandatory"
				value="#{registerBean.person.lastName}"
				styleClass="form-control"
				placeholder="Last Name" />
			<span class="glyphicon glyphicon-user  form-control-feedback"></span>
		</div>
		<div class="form-group has-feedback">
			<p:inputText
				pt:placeholder="E-mail"
				id="emailInput"
				value="#{registerBean.person.email}"
				validator="#{emailValidator.validate}"
				required="true"
				requiredMessage="Email is mandatory"
				styleClass="form-control"
				placeholder="E-mail">
				<f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
			</p:inputText>
			<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
		</div>
		<div class="form-group has-feedback">
			<p:password
				id="passwordInput"
				value="#{registerBean.person.password}"
				styleClass="form-control" />
			<span class="glyphicon glyphicon-lock form-control-feedback"></span>
		</div>
		<div class="row">
			<div class="col-xs-8">
				<div class="checkbox icheck">
					<label> <input type="checkbox" /> I agree to the <a href="#">terms</a>
					</label>
				</div>
			</div>
			<div class="col-xs-4">
				<h:commandButton
					action="#{registerBean.doRegister}"
					styleClass="btn btn-primary btn-block btn-flat"
					value="Register" />
			</div>
		</div>
	</ui:define>
	<ui:define name="boxActions">
		<div>
			<button
				type="submit"
				class="btn btn-block btn-primary btn-flat">I already have a membership</button>
		</div>
	</ui:define>
</ui:composition>
