<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html" template="/WEB-INF/template/mainPagesTemplate.xhtml">

	<ui:define name="pageTitle">erp-School | Workspace</ui:define>
	<ui:define name="mainPagesContentTitle"> - Manage Classes</ui:define>
	<ui:define name="mainPagesContent">
		<div class="row">
			<div class="col-sm-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">Box name</h3>
					</div>
					<div class="box-body no-padding">
						
					</div>
				</div>
			</div>
		</div>

	</ui:define>

</ui:composition>

